#map {
    position: relative;
    height: 94vh;  /* or as desired */
    width: 70%;  /* This means "100% of the width of its container", the .col-md-8 */
}

#panel1{
    float: right;
    position: sticky;
    width: 30%;
    height: 94vh;
}